*.out
*.o
*.obj
*.exe
*.dSYM

tarefa00/bomdia
tarefa00/boanoite

tarefa01/capicua
tarefa01/parciais
tarefa01/sela

tarefa02/classificar
tarefa02/consultas

tarefa03/centroide
tarefa03/quase_palindromo
tarefa03/recompensa

tarefa04/batcomputador

tarefa05/sequencia

tarefa06/cobra

tarefa07/otimizar

tarefa08/cidades

tarefa09/cache

tarefa13/improbabilidade

tarefa11/piscapisca

tarefa12/centros

tarefa10/corretor

.vscode